header {
    background-color: #3a5844;
    color: #d0d2e0;
    text-align: center;
}

body {
    margin: 0px;
    background-image: url(record.png);
    background-repeat: inherit;
}   
main {
    background-color: lightgrey;
    padding: 1em;
} 